# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# Distribution / packaging
build/
dist/
*.egg-info/

# PyInstaller
*.manifest
*.spec

# Installer logs
pip-log.txt
pip-delete-this-directory.txt

# Unit test / coverage reports
htmlcov/
.tox/
.nox/
coverage.xml
*.cover
.hypothesis/

# PyCharm
.idea/

# Visual Studio Code
.vscode/

# macOS
.DS_Store

# Log files
*.log

# Environment variables
.env
.env.local
.venv/

# Lock files
*.lock
